/** 全局SCSS变量 */

:root {
  --menu-background: #304156;
  --menu-text: #1d79e1;
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
}

/** 暗黑主题 */
html.dark {
  --menu-text: #fc0e0e;
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);

  --menu-background: rgb(35, 57, 224);
}

$menu-background: var(--menu-background); // 菜单背景色
$menu-text: var(--menu-text); // 菜单文字颜色
$menu-hover: var(--menu-hover); // 菜单悬停背景色

$aa: red;
